#!/bin/bash

# Open [BotFather](https://telegram.me/botfather) and type
# ```/newbot``` to create a new bot and get a key.
#
# To use multiple bots, separate each key with a space:
# export TELEGRAM_KEY="XxXxXx YyYyYy"
export TELEGRAM_KEY=

# The URL of the rabbitmq-server
# to use multiple, separate each url with a space character
export AMQ_URL="amqp://guest:guest@localhost:5672"

# The queue name to consume, if multiples, must be the same number of AMQ_URLs
export AMQ_DEFAULT_EXCHANGE_CONSUME_QUEUE=

# The name of fanout exchanges to listen to
export AMQ_EXCHANGE_NAME=

# Which local storage to use available choices are: rethinkdb, none
export STORAGE="rethinkdb"

# The hostname and port of a RethinkDB server
export RETHINKDB_HOST="localhost"
export RETHINKDB_PORT="28015"

# The name of a RethinkDB database
export RETHINKDB_NAME="chat_logger"

# Name and Id of the bot that will interact with an anonymous user in the anonchat.js example
export BOT_NAME=
export BOT_ID=

echo "Environment variables updated!"
